@use './partials/variables' as *;
@use './partials/header' as *;
@use './partials/comics' as *;
@import '~bootstrap/scss/bootstrap';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
}
